<% layout("/layouts/boilerplate") %>

    <div>

            <div class="gallery-card">
                <div class="gallery">

                    <img class="four-grid-cells gall-img" src="<%= listing.image.url %>"
                        alt="Northern Winter Sky Image" />

                    <img class="gall-img" src="<%= listing.image.url %>" alt="Shining Stars Image" />

                    <img class="wide-image gall-img" src="<%= listing.image.url %>" alt="A River Flowing Image" />

                    <img class="gall-img" src="<%= listing.image.url %>" alt="A cloudy Mountain Image" />
                </div>
            </div>
        

        <div class="container">
            <div class="listing">
                <div class="left">
                    <h2>
                        <%= listing.title %>
                    </h2>
                    <p class="details">3 guests 路 1 bedroom 路 1 bed 路 1 bathroom</p>
                    <p class="rating">
                    <p class="starability-result card-text" data-rating="<%= review.rating %>"></p>
                    5.0 路 <a href="#">4 reviews</a></p>

                    <div class="line-divider"></div>


                    <div class="host">
                        <div class="avatar">
                            <i class="fa-solid fa-user" style="color: #ffffff;"></i>
                        </div>

                        <div>
                            Hosted by <%= review.author.username %>
                        </div>

                        <div class="location">
                            <div style="margin-right: 10px;">
                                <i class="fa-solid fa-location-dot" style="color: #000000;"></i>
                                <%= listing.location %>,
                            </div>
                            <div>
                                <%= listing.country %>
                            </div>
                        </div>
                    </div>

                    <div class="line-divider"></div>

                    <div class="details">
                        <div class="details-item">
                            <i class="fa-solid fa-door-open"></i>
                            <div>
                                <strong>Self check-in</strong>
                                <div class="desc">Check yourself in with the smartlock.</div>
                            </div>
                        </div>

                        <div class="details-item">
                            <i class="fa-solid fa-city"></i>
                            <div>
                                <strong>City view</strong>
                                <div class="desc">Soak up the view during your stay.</div>
                            </div>
                        </div>

                        <div class="details-item">
                            <i class="fa-solid fa-comment-dots"></i>
                            <div>
                                <strong>Exceptional Host communication</strong>
                                <div class="desc">Recent guests gave Rashmi a 5-star rating for communication.</div>
                            </div>
                        </div>
                    </div>

                    <div class="line-divider"></div>

                    <p>
                        <%= listing.description %>
                    </p>

                    <div class="line-divider"></div>


                    <div class="offers">
                        <h2>What this place offers</h2>
                        <div class="offers-grid">
                            <div class="offer-item"><i class="fa-solid fa-city"></i> City skyline view</div>
                            <div class="offer-item"><i class="fa-solid fa-wifi"></i> Wifi</div>
                            <div class="offer-item"><i class="fa-solid fa-chair"></i> Dedicated workspace</div>
                            <div class="offer-item"><i class="fa-solid fa-car"></i> Free parking on premises</div>
                            <div class="offer-item"><i class="fa-solid fa-paw"></i> Pets allowed</div>
                            <div class="offer-item"><i class="fa-solid fa-tv"></i> TV</div>
                            <div class="offer-item"><i class="fa-solid fa-elevator"></i> Lift</div>
                            <div class="offer-item"><i class="fa-solid fa-snowflake"></i> Air conditioning</div>
                            <div class="offer-item"><i class="fa-solid fa-baby"></i> Cot</div>
                            <div class="offer-item unavailable"><i class="fa-solid fa-ban"></i> Carbon monoxide alarm
                            </div>
                        </div>
                    </div>

                    <div class="line-divider"></div>


                    <div class="description">
                        <p>Welcome to your private studio flat - a cozy, clean and fully furnished space perfect
                            for solo travellers, couples, business visitors and family. Whether you are here for
                            short stay or long stay, this studio is designed to offer comfort, convenience and
                            privacy. You will get the same flat as shown in photos.</p>
                    </div>


                    <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
                        <div class="btns">
                            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark col-2 edit-btn">Edit</a>
                            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                                <button class="btn btn-dark offset-4 ">Delete</button>
                            </form>
                        </div>
                        <% } %>
                </div>



                <div class="right">
                    <div class="price-card">
                        <h2 class="room-title">Luxe Twin Room</h2>
                        <p class="fits">Fits 1 Adult</p>
                        <ul class="features">
                            <li>
                                <span class="dot"></span>
                                <span class="text-blue">Campaign Free Breakfast - Super Package</span>
                            </li>
                            <li>
                                <span class="dot"></span>
                                <span class="text-blue">

                                    Free Cancellation till 24 hrs before check in
                            </li>
                            </span>
                        </ul>
                        <p class="price-label">Per Night:</p>
                        <p class="price">
                            <i class="fa-solid fa-indian-rupee-sign" style="color: #000000; margin-right: 6px;"></i><%= listing.price.toLocaleString("en-IN")%> <span class="taxes">+ 18 % taxes &
                                    fees</span>
                        </p>
                        <div class="actions">
                            <button class="check">BOOK NOW</button>
                        </div>
                    </div>


                    <div class="box">
                        <p class="price-title">Add dates for prices</p>
                        <div class="input-group">
                            <div>
                                <label>CHECK-IN</label>
                                <input type="text" placeholder="Add date" />
                            </div>
                            <div>
                                <label>CHECKOUT</label>
                                <input type="text" placeholder="Add date" />
                            </div>
                        </div>
                        <div>
                            <label>GUESTS</label>
                            <select>
                                <option>1 guest</option>
                                <option>2 guests</option>
                                <option>3 guests</option>
                            </select>
                        </div>
                        <button class="check">Check availability</button>
                    </div>


                </div>


            </div>
            <div class="mb-3">

                <% if(currUser) { %>
                    <hr>
                    <h4>Leave Review</h4>
                    <form action="/listings/<%= listing.id %>/reviews" method="POST" novalidate
                        class="needs-validation">

                        <div class="mb-3 mt-3">
                            <label for="rating" class="form-label"><b>Rating</b></label>
                            <fieldset class="starability-slot">
                                <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1"
                                    checked aria-label="No rating." />
                                <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                                <label for="first-rate1" title="Terrible">1 star</label>
                                <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                                <label for="first-rate2" title="Not good">2 stars</label>
                                <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                                <label for="first-rate3" title="Average">3 stars</label>
                                <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                                <label for="first-rate4" title="Very good">4 stars</label>
                                <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                                <label for="first-rate5" title="Amazing">5 stars</label>
                            </fieldset>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="comment" class="form-label"><b>Comment</b></label>
                            <textarea name="review[comment]" id="comment" cols="30" rows="5" class="form-control"
                                required></textarea>
                            <div class="invalid-feedback">Please add some comment for reviews</div>
                        </div>
                        <button class="btn btn-outline-danger">Submit</button>
                    </form>
                    <% } %>
                        &nbsp;
                        <% if(listing.reviews.length> 0) {%>
                            <div class="row">
                                <h3>All Reviews</h3>

                                <% for (review of listing.reviews) {%>
                                    <div class="container">
                                        <section class="mx my-5" style="max-width: 23rem;">
                                            <div class="card">
                                                <div class="card-body">
                                                    <blockquote class="blockquote blockquote-custom bg-white px-3 pt-4">
                                                        <div class="blockquote-custom-icon bg-info shadow-1-strong">
                                                            <i class="fa fa-quote-left text-white"></i>
                                                        </div>
                                                        <script src="https://cdn.lordicon.com/lordicon.js"></script>
                                                        <lord-icon src="https://cdn.lordicon.com/xcxzayqr.json"
                                                            trigger="hover" style="width:40px;height:40px"
                                                            class="review-profile">
                                                        </lord-icon>

                                                        <p><b>@<%= review.author.username %></b></p>
                                                        <p class="starability-result card-text"
                                                            data-rating="<%= review.rating %>"></p>
                                                        <p class="mb-0 mt-2 font-italic">
                                                            <%= review.comment %>
                                                        </p>
                                                        <footer class="blockquote-footer pt-4 mt-4 border-top">
                                                            <form class="mb-3" method="POST"
                                                                action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
                                                                <button class="btn btn-sm btn-dark">Delete</button>
                                                            </form>
                                                        </footer>
                                                    </blockquote>
                                                </div>
                                            </div>

                                        </section>
                                    </div>
                                    <% } %>
                            </div>
                            <% } %>
            </div>
        </div>
    </div>